<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
        <a href="/">Unread Posts</a>
      </li>
      <li>
        <a href="/all">All Posts</a>
      </li>
      <li>
        <a href="/subscriptions">Subscriptions</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>