{% extends "master.twig" %}

{% block content %}
<form action='/login' method="POST" class='login form-horizontal'>
  <div class='control-group'>
    <label class="control-label">
      Email
    </label>
    <div class='controls'>
      <input id="data_name" type='text' name="data[name]" value=''></input>
    </div>
  </div>
  <div class='control-group'>
    <label class="control-label">
      Password
    </label>
    <div class='controls'>
      <input id="data_password" type='password' name="data[password]" value=''></input>
    </div>
  </div>
  <div class='buttons'>
    <div>
      <button type="button" class="btn subscribe">Subscribe</button>
      <button type="button" class="btn recover-pass">Recover Password</a>
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </div>
</form>
{% endblock %}